body {
    background-color: #dbc1ac;
    margin: 0;
    font-family: Open Sans, sans-serif;
    min-height: 100vh;
    color: white;
    
}

.app {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 1024px;
}

  
/* .topnav {
overflow: hidden;
background-color: #D2B48C;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: #D2B48C;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

.topnav img {
    width: 100px;
    height: 100px;
} */